<div style="min-height: 40px; border-width: 0 0 1px 0; border-style: solid; border-color: #ddd;"></div>
<div class="clearfix" style="overflow: hidden; clear: both; height: calc(100vh - 41px);">
  <div style="float: left; width: calc(100% - 300px); text-align: center;">
    <img style="min-width: 75%;"
         src="https://storage.googleapis.com/serverless-animal-bot-vcm/dandy%2F50-04SPACEDANDY-articleLarge.jpg?GoogleAccessId=image-uploader%40serverless-animal-bot.iam.gserviceaccount.com&Expires=1542568900&Signature=hwxmmmuEbhcYr3Q0XZUQQOyghd%2BYThiyfcXG5TPZEzl%2BWON%2Fx9TFBuO9Ss%2BHo4pW3w%2BRZMjY8ywbspkf3xGaoBd3y4T%2FpuMxNKQl9lNd2LD0g4jvE1AwmIzpPMExMLaEnIVTpeWZzmQi1ygJ4mGUxj8QIrxLhfiPEiGYqv9U7yggbv2KUb8hMUf2ROHjqfMNCSvHi73F2L1YCUU5N7a4Nh%2FTNngKMBbK8trLJ0SXlO6pMMsIM1Rshq9Wrwa3ypetVfU6yoYxKgjAR%2F4qjCJKpCcyDk%2BnLKPXNnU9nneDfxYMdtKnG8S%2BnlCSQUXw49AzWZ6ykCKq%2BAMT16Ta8LvP%2BQ%3D%3D"
         alt="">
    <p>
      <span matBadge="4" matBadgeOverlap="false">Dandy with the ladies!</span>
    </p>

  </div>
  <div
    style="float: left; width: 230px; height: 100%; border-width: 0 1px 0 1px; border-style: solid; border-color: #ddd;">

    <p style="border-width: 0 0 1px 0; border-style: solid; border-color: #ddd; padding: 0 20px 12px 20px; font-size: 1.1em;">Filters</p>
    <div style="padding: 0 20px; ">
      <mat-checkbox color="primary">Space Dandy</mat-checkbox>
      <br>
      <mat-checkbox color="primary">QT</mat-checkbox>
      <br>
      <mat-checkbox color="primary">Meow</mat-checkbox>
      <br>
      <mat-checkbox color="primary">Honey</mat-checkbox>
      <br>
      <br>
    </div>
    <button mat-flat-button color="primary" style="display: block; width: 100%;">Next</button>
  </div>
</div>
<router-outlet></router-outlet>
