<div style="min-height: 40px; border-width: 0 0 1px 0; border-style: solid; border-color: #ddd;"></div>
<!-- Could show vertical stack of images and highlight the active image. make it always in the middle.-->
<div class="clearfix" style="overflow: hidden; clear: both; min-height: calc(100vh - 41px);">
  <div style="float: left; width: 200px; text-align: center;">
    <mat-card *ngFor="let imageMapping of imageMappings" class="item"
              [class.active]="imageMapping.id === activeImageMapping.id"
              (click)="load(imageMapping.id)">
      <img [src]="imageMapping.url" style="max-width: 170px; max-height: 100px;"/>
      <mat-card-content>{{imageMapping.tags.join(',')}}</mat-card-content>
    </mat-card>
  </div>
  <div style="float: left; width: calc(100% - 450px); text-align: center;">
    <img *ngIf="activeImageMapping" [src]="activeImageMapping.url" style="max-height: calc(100vh - 101px)"/>
    <p>
      <span [matBadge]="activeImageMapping.tags.length" matBadgeOverlap="false">{{activeImageMapping.gsPath}}</span>
    </p>

  </div>
  <div
    style="float: left; width: 230px; height: 100%; border-width: 0 1px 0 1px; border-style: solid; border-color: #ddd;">

    <p
      style="border-width: 0 0 1px 0; border-style: solid; border-color: #ddd; padding: 0 20px 12px 20px; font-size: 1.1em;">
      Filters</p>
    <div style="padding: 0 20px; ">
      <mat-checkbox color="primary">Space Dandy</mat-checkbox>
      <br>
      <mat-checkbox color="primary">QT</mat-checkbox>
      <br>
      <mat-checkbox color="primary">Meow</mat-checkbox>
      <br>
      <mat-checkbox color="primary">Honey</mat-checkbox>
      <br>
      <mat-checkbox color="primary">Remove</mat-checkbox>
      <br>
      <br>
    </div>
    <button mat-flat-button color="primary" style="display: block; width: 100%;">Next</button>
  </div>
</div>
